.ck_input{
  font-family: 'Cera',Arial,sans-serif;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  text-align: left;
  border-right: 10px;
}
.ck_input:focus{
  outline: 2px #FF6600 solid;
}
.form-input{
  height: 60px;
  font-size: 20px;
}
.error_message{
  text-align: center;
  color: red;
  opacity: 0;
}
.show{
  opacity: 1;
}
.form_label{
  margin-left: auto;
}