//Цвета компании
$SE_BLUE: #6CC7DA;
$SE_RED: #FF0000;
$SE_DARK_BLUE: #253e89;
$YELLOW: #ff6600;
$FIOL:#833ae0;
$DARK_GROWN: #6b6b6b;
$header_color:#6b6b6b;
$FOOTER_BG: #4c4949;
$line_color: #ff6600;
$color_text: #554b4b;
$primary_btn: #ff6600;
$primary_btn_hover: #e05f0b;
$primary_btn_focus:#f59c60;
//Телефон шапка
$TEL_COLOR: $SE_DARK_BLUE;
$TEL_FONT_SIZE: 22px;
//Мобильная версия
$mb_line_width: 50%;
$mb_line_weight: 1.5px;
$mb-main-text: 14px;

$form_item_width:220px;
$form_item_height:45px;